<div class="panel panel-default">
    <div class="panel-heading">
        Registration
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="registrationForm" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': registrationForm.firstName.$invalid &&
                                        registrationForm.firstName.$touched}">
                <label class="col-md-2 control-label" for="firstName">First Name</label>

                <div class="col-md-4">
                    <input class="form-control"
                           id="firstName"
                           name="firstName"
                           type="text"
                           ng-model="vm.user.firstName"
                           required
                           ng-maxlength="20"/>
                </div>

                <span class="help-block has-error">
                    <span ng-show="registrationForm.firstName.$error.required">
                        First name is required.
                    </span>
                    <!--<span ng-show="registrationForm.firstName.$error.minlength">-->
                    <!--First name must be at least 1 character in length.-->
                    <!--</span>-->
                    <span ng-show="registrationForm.firstName.$error.maxlength">
                        First name cannot exceed 20 characters in length.
                    </span>
                </span>
            </div>

            <div class="form-group"
                 ng-class="{'has-error':registrationForm.lastName.$invalid &&
                                        registrationForm.lastName.$touched}">
                <label class="col-md-2 control-label" for="lastName">Last Name</label>

                <div class="col-md-4">
                    <input class="form-control"
                           id="lastName"
                           name="lastName"
                           type="text"
                           ng-model="vm.user.lastName"
                           required
                           ng-maxlength="20"/>
                </div>


                <span class="help-block has-error">
                    <span ng-show="registrationForm.lastName.$error.required">
                        Last name is required.
                    </span>
                    <span ng-show="registrationForm.lastName.$error.maxlength">
                        Last name cannot exceed 20 characters in length.
                    </span>
                </span>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Gender</label>

                <div class="col-md-4">
                    <label>
                        <input class="form-control"
                               name="genderRadio"
                               type="radio"
                               ng-model="vm.gender.name"
                               value="male"
                               checked/>Male

                    </label>
                    <label>
                        <input class="form-control"
                               name="genderRadio"
                               type="radio"
                               ng-model="vm.gender.name"
                               value="female"/>Female

                    </label>
                </div>

                <!--<span class="help-block has-error">-->
                <!--<span ng-show="registrationForm.gender.$error.required">-->
                <!--Gender is required.-->
                <!--</span>-->
                <!--</span>-->
            </div>


            <div class="form-group"
                 ng-class="{'has-error':registrationForm.email.$invalid &&
                                        registrationForm.email.$touched}">
                <label class="col-md-2 control-label" for="email">Email</label>

                <div class="col-md-4">
                    <input class="form-control"
                           id="email"
                           name="email"
                           type="email"
                           ng-model="vm.user.email"
                           required/>
                </div>

                <span class="help-block has-error">
                    <span ng-show="registrationForm.email.$error.required">
                        Email is required.
                    </span>
                    <span ng-show="registrationForm.email.$error.email">
                        Email is invalid.
                    </span>
                </span>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Roles</label>

                <span class="col-md-1" ng-repeat="(role, enabled) in vm.roles">
                    <input type="checkbox" ng-model="vm.roles[role]" value="vm.roles[role]"/>{{role}}
                </span>

                <span class="help-block has-error">
                   <span ng-show="registrationForm.roles.$error.required">
                       Gender is required.
                   </span>
               </span>

            </div>

            <div class="form-group">
                <label class="col-md-2 control-label"
                       for="DOB">DOB</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control"
                               id="DOB"
                               type="text"
                               uib-datepicker-popup="MMM dd,yyyy"
                               required
                               is-open="vm.opened"
                               ng-model="vm.user.DOB"/>
                        <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"/>
                        </button>
                    </span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                <span>
                    <!--if the state of form is invalid, save button will be disabled-->
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="vm.submit(registrationForm.$valid)">
                        Save
                    </button>
                </span>
                    <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel()">
                        Cancel
                    </button>
                </span>
                </div>
            </div>


        </form>
    </div>
</div>